---
layout: 2018_default
permalink: /call-for-papers
title: Call for Papers
published: true
---

<div class="event black-frame">

  <h1>{{ page.title }}</h1>

  {% for section in site.data.conference.call_for_papers.sections %}
  <h2>{{section.title}}</h2>

  <div class="text-content">
    {{section.content | markdownify}}
  </div>
  {% endfor %}

  <h2 id="dates">Important Dates</h2>
  All deadlines are midnight anywhere-on-earth (AoE); late submissions will not be considered.

  <ul>
    {% for date in site.data.conference.call_for_papers.dates %}
    <li>
      <strong>{{ date.name }}:</strong>
      {% if date.olddate %}
        <span style="text-decoration: line-through;">{{ date.olddate }}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        {% if date.extendedto %}
          <span class="text-danger">
            *** extended to <strong>{{ date.date }}</strong> ***
          </span>
        {% else %}
          {{ date.date }}
        {% endif %}
      {% else %}
        {{ date.date }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>


  {% assign file_url = site.data.conference.call_for_papers.file %}
  {% if file_url %}
  {% capture file_link %}{% link {{file_url.url}} %}{% endcapture %}
  <h3><a href="{{ file_link }}">{{ file_url.label }}</a></h3>
  {% endif %}

</div>
