{% capture about-fscd %}
  FSCD is a series of annual conferences started in 2016 in
  Porto, to merge and replace the

  * [RTA](http://rewriting.loria.fr/rta/)
    (Rewriting Techniques and Applications)

  * [TLCA](https://www.mimuw.edu.pl/tlca/tlca.html)
    (Typed Lambda Calculi and Applications)

  conferences.

  Building on the RTA and TLCA communities, FSCD updates and modernizes the
  RTA and TLCA core topics and broadens their scope to closely related areas
  in logics, models of computation (e.g. quantum computing, probabilistic
  computing, homotopy type theory), semantics and verification in new
  challenging areas (e.g. blockchain protocols or deep learning algorithms).

  FSCD 2020 is the 5th edition of FSCD and accepts submissions in two
  categories: original and unpublished regular research papers presenting
  original and unpublished research; system descriptions about software
  tools.

  Recent editions of FSCD have been held in:

  * [Porto, Portugal (2016)](http://fscd2016.dcc.fc.up.pt/)

  * [Oxford, UK (2017)](http://www.cs.ox.ac.uk/conferences/fscd2017/)

  * [Oxford, UK (2018)](http://www.cs.le.ac.uk/events/fscd2018/)

  * [Dortmund, Germany (2019)](http://easyconferences.eu/fscd2019/)

  FSCD 2020 Website: <{{ site.data.conference.global.fscd.url-2020 }}>

{% endcapture %}

{{ about-fscd | markdownify }}

  <!-- <div class="center-block" style="width: 75%; max-width: 200px">
    <a href="{{ site.data.conference.global.fscd.url}}">
      <img class="img-responsive" src="{{ site.data.conference.global.fscd.logo }}">
    </a>
  </div> -->
