{% capture about-ws %}
  Several one or two days workshops will be held as satellite
  pre/post-events of FSCD and IJCAR. A call has been opened in November
  2019, inviting to submit proposals for workshops, tutorials or other
  satellite events, on any topic related to formal structures in
  computation, deduction and automated reasoning, from theoretical
  foundations to tools and applications.

  21 workshops have been proposed and accepted.
  Their scopes include topics as:
  termination and confluence of rewriting systems,
  term graph rewriting,
  rewriting techniques for program transformations and avaluation,
  unification,
  linear logic and linearity in logic and computing,
  semantic and formal approaches for complexity,
  geometric and categorical structures for computation and deduction,
  homotopy type theory and univalent foundations,
  logical frameworks and meta-languages,
  automated reasoning for quantified non-classical logic,
  automated theorem provers as Isabelle, Coq, and Zipperpositions,
  pratical aspects of automated reasoning,
  theorem provers for eductional software,
  satisfiability checking and symbolic computation
  there will be an interactive theorem proving contest.

  Many of these workshops are recurrent. In particular, we point out
  the 5th edition of the Women in Logic workshop.

  [More info]({{ site.data.conference.global.ijcar-fscd.url }}/workshops)
{% endcapture %}

{{ about-ws | markdownify }}
