<!-- <style>
  .accepted {
    clear: right;
    margin-bottom: 20pt;
    padding: 3pt
  }
</style> -->
<style>
  .paper {
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-top: solid black 1px;
    padding: 2pt
  }
</style>
<style>
  .paper:last-child {
    border-bottom: solid black 1px;
    padding: 2pt
  }
</style>

<div class="event black-frame">

  <h1>FSCD 2020 Accepted Papers</h1>

  <div class="paper">
    <span class="authors">
      <span>Petar Vukmirović, Alexander Bentkamp and Visa Nummelin</span>.
    </span>
    <span class="title">Efficient Full Higher-Order Unification</span>
  </div>

  <div class="paper">
    <span class="authors">
      <span><a href="http://www.irif.fr/~mellies/">Paul-André Melliès</a> and Nicolas Rolland</span>.
    </span>
    <span class="title">Comprehension and quotient structures in the language of 2-categories</span>
  </div>

  <div class="paper">
    <span class="authors">
      <span><a href="http://www.ii.uni.wroc.pl/~dabi/">Dariusz Biernacki</a>, Sergueï Lenglet and Piotr Polesiuk</span>.
    </span>
    <span class="title">A Complete Normal-Form Bisimilarity for Algebraic Effects and Handlers</span>
  </div>

  <div class="paper">
    <span class="authors">
      <span><a href="http://www.cs.cmu.edu/~ankushd/">Ankush Das</a> and <a href="http://www.cs.cmu.edu/~fp/">Frank Pfenning</a></span>.
    </span>
    <span class="title">Resource-Aware Session Types with Arithmetic Refinements (System Description)</span>
  </div>

  <div class="paper">
    <span class="authors">
      <span>Paul Brunet and <a href="http://www.cs.ucl.ac.uk/staff/D.Pym/">David Pym</a></span>.
    </span>
    <span class="title">Pomsets with Boxes: Protection, Separation, and Locality in Concurrent Kleene Algebra</span>
  </div>

  <div class="paper">
    <span class="authors">
      <a href="https://www.ps.uni-saarland.de/~dudenhefner/">Andrej Dudenhefner</a>. </span>
    <span class="title">Undecidability of Semi-unification on a Napkin</span>
  </div>

  <div class="paper">
    <span class="authors">
      <span>Mathias Hülsbusch, <a href="https://www.uni-due.de/theoinf/people/koenig.php">Barbara König</a>, Sebastian Küpper and Lars Stoltenow</span>.
    </span>
    <span class="title">Conditional Bisimilarity for Reactive Systems</span>
  </div>

  <div class="paper">
    <span class="authors">
      <span>Cyril Cohen, <a href="http://logic.cs.tsukuba.ac.jp/~sakaguchi/">Kazuhiko Sakaguchi</a> and <a href="http://www-sop.inria.fr/members/Enrico.Tassi/">Enrico Tassi</a></span>.
    </span>
    <span class="title">Hierarchy Builder: algebraic hierarchies made easy in Coq with Elpi (System Description)</span>
  </div>

  <div class="paper">
    <span class="authors">
      <span>Masaomi Yamaguchi and <a href="http://www.nue.ie.niigata-u.ac.jp/~aoto/">Takahito Aoto</a></span>.
    </span>
    <span class="title">An Efficient Decision Procedure for Uniqueness of Normal Forms w.r.t. Conversion of Shallow Term Rewriting Systems</span>
  </div>

  <div class="paper">
    <span class="authors">
      <span><a href="http://math.unice.fr/~ah">André Hirschowitz</a>, <a href="https://www.lama.univ-savoie.fr/pagesmembres/hirschowitz">Tom Hirschowitz</a> and <a href="https://amblafont.github.io">Ambroise Lafont</a></span>.
    </span>
    <span class="title">Modules over monads and operational semantics</span>
  </div>

  <div class="paper">
    <span class="authors">
      <a href="http://rewriting.gforge.inria.fr/">Frédéric Blanqui</a>. </span>
    <span class="title">Type safety of rewriting rules in dependent types</span>
  </div>

  <div class="paper">
    <span class="authors">
      <span>Gabriel Hondet and <a href="http://rewriting.gforge.inria.fr/">Frédéric Blanqui</a></span>.
    </span>
    <span class="title">The new rewriting engine of Dedukti (System Description) </span>
  </div>

  <div class="paper">
    <span class="authors">
      <span>Brandon Bohrer and <a href="https://www.cs.cmu.edu/~aplatzer/">André Platzer</a></span>.
    </span>
    <span class="title">Refining Constructive Hybrid Games</span>
  </div>

  <div class="paper">
    <span class="authors">
      <span>Andrej Ivaskovic, Alan Mycroft and Dominic Orchard</span>.
    </span>
    <span class="title">Data-flow analyses as effects and graded monads</span>
  </div>

  <div class="paper">
    <span class="authors">
      <a href="https://www.cs.ru.nl/~cynthiakop/">Cynthia Kop</a>. </span>
    <span class="title">WANDA - a Higher Order Termination Tool (System Description) </span>
  </div>

  <div class="paper">
    <span class="authors">
      <span><a href="https://www.irif.fr/~stolze/">Claude Stolze</a> and <a href="http://www-sop.inria.fr/members/Luigi.Liquori">Luigi Liquori</a></span>.
    </span>
    <span class="title">A Type Checker for a Logical Framework with Union and Intersection Types (System Description) </span>
  </div>

  <div class="paper">
    <span class="authors">
      Zeinab Galal. </span>
    <span class="title">A Profunctorial Scott Semantics</span>
  </div>

  <div class="paper">
    <span class="authors">
      Guillaume Boisseau. </span>
    <span class="title">String diagrams for optics</span>
  </div>

  <div class="paper">
    <span class="authors">
      <span><a href="http://www.ii.uni.wroc.pl/~dabi/">Dariusz Biernacki</a>, Mateusz Pyzik and Filip Sieczkowski</span>.
    </span>
    <span class="title"> A Reflection on Continuation-Composing Style</span>
  </div>

  <div class="paper">
    <span class="authors">
      <span>Yo Mitani, <a href="http://www-kb.is.s.u-tokyo.ac.jp/~koba/">Naoki Kobayashi</a> and Takeshi Tsukada</span>.
    </span>
    <span class="title">A Probabilistic Higher-order Fixpoint Logic</span>
  </div>

  <div class="paper">
    <span class="authors">
      <span>Rick Erkens and Maurice Laveaux</span>.
    </span>
    <span class="title">Adaptive Non-linear Pattern Matching Automata</span>
  </div>

  <div class="paper">
    <span class="authors">
      <span>Yoshiki Nakamura, Kazuyuki Asada, Naoki Kobayashi, Ryoma Sin'Ya and Takeshi Tsukada</span>.
    </span>
    <span class="title">On Average-Case Hardness of Higher-Order Model Checking</span>
  </div>

  <div class="paper">
    <span class="authors">
      <span><a href="http://www.riec.tohoku.ac.jp/~asada/">Kazuyuki Asada</a> and <a href="http://www-kb.is.s.u-tokyo.ac.jp/~koba/">Naoki Kobayashi</a></span>.
    </span>
    <span class="title">Size-Preserving Translations from Order-(n+1) Word Grammars to Order-n Tree Grammars</span>
  </div>

  <div class="paper">
    <span class="authors">
      <span><a href="http://akaposi.github.io">Ambrus Kaposi</a> and <a href="http://www.cs.nott.ac.uk/~psxjv4/">Jakob von Raumer</a></span>.
    </span>
    <span class="title">A Syntax for Mutual Inductive Families</span>
  </div>

  <div class="paper">
    <span class="authors">
      <span>Tim Lukas Diezel and <a href="http://www8.informatik.uni-erlangen.de/~sergey">Sergey Goncharov</a></span>.
    </span>
    <span class="title">Towards Constructive Hybrid Semantics</span>
  </div>

  <div class="paper">
    <span class="authors">
      <a href="http://cj-xu.github.io/">Chuangjie Xu</a>. </span>
    <span class="title">A Gentzen-style monadic translation of Goedel's System T</span>
  </div>

  <div class="paper">
    <span class="authors">
      <span><a href="https://www.risc.jku.at/home/dcerna">David Cerna</a> and <a href="http://www.risc.jku.at/people/tkutsia/">Temur Kutsia</a></span>.
    </span>
    <span class="title">Unital Anti-unification: Type and Algorithms</span>
  </div>

  <div class="paper">
    <span class="authors">
      <span>Yu-Yang Lin and Nikos Tzevelekos</span>.
    </span>
    <span class="title">Symbolic Execution Game Semantics</span>
  </div>

  <div class="paper">
    <span class="authors">
      <span><a href="http://www.wilmer-ricciotti.net">Wilmer Ricciotti</a> and <a href="http://homepages.inf.ed.ac.uk/jcheney">James Cheney</a></span>.
    </span>
    <span class="title">Strongly Normalizing Higher-Order Relational Queries</span>
  </div>

  <div class="paper">
    <span class="authors">
      <span>Henry DeYoung, <a href="http://www.cs.cmu.edu/~fp">Frank Pfenning</a> and Klaas Pruiksma</span>.
    </span>
    <span class="title">Semi-Axiomatic Sequent Calculus</span>
  </div>

  <div class="paper">
    <span class="authors">
      <span>Besik Dundua, <a href="http://www.risc.jku.at/people/tkutsia/">Temur Kutsia</a>, Mircea Marin and Cleopatra Pau</span>.
    </span>
    <span class="title">Constraint Solving over Multiple Similarity Relations</span>
  </div>

  <div class="paper">
    <span class="authors">
      <a href="http://www.lsv.fr/~genestier">Guillaume Genestier</a>. </span>
    <span class="title">Encoding Agda Programs using Rewriting</span>
  </div>
  <div class="paper">
    <span class="authors">
      <span>Mario Alvarez-Picallo and <a href="http://www.cs.ox.ac.uk/people/luke.ong/personal">C.-H. Luke Ong</a></span>.
    </span>
    <span class="title">The difference lambda-calculus: a language for difference categories.</span>
  </div>
</div>
